[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "third_party/quack"]
	path = third_party/quack
	url = https://github.com/duckdb/duckdb-quack
	shallow = true
